*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(104, 104, 237);
    display: grid;
    place-items: center;
}

.calender{
    width: 80%;
    height: 60vh;
    background-color: rgb(248, 148, 71);
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: 2px solid black;
}

#cal{
    height: 40vh;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

#month{
    text-align: center;
    padding: 0.5em 0;
    background-color: blue;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#week{
    text-align: center;
    padding: 0.5em 0;
    color: red;
    margin: 5px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#date{
    text-align: center;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#year{
    text-align: center;
    padding: 0.5em 0;
    color: black;
    margin: 5px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

